<!-- views/settings.ejs -->

<h1 class="mt-4">Settings</h1>
<p class="lead mb-3">Welcome <%= user.name %> to your settings</p>

<!-- Back button to Dashboard -->
<a href="/users/dashboard" class="btn btn-primary">Back to Dashboard</a>